{% extends "index.html" %}

{% block content %}
    <!-- breadcrumbs-area-strat -->
	<div class="breadcrumbs-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumbs-menu">
						<ul>
							<li><a href="{{url_for('home')}}">Home<i class="fa fa-angle-right"></i></a></li>
							<li><a href="#" class="active">Add Item</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumbs-area-end -->
	<!-- user-login-area-start -->
	<div class="user-login-area ptb-80">
		<div class="container">
		    <div class="flashes">
                {% for category, messages in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ messages|safe }}
                    </div>
                {% endfor %}
            </div>

			<div class="row">
				<div class="col-lg-12">
					<div class="login-title text-center mb-30">
						<h2>Add Item To Inventory</h2>
						<form id="itemform" action="#" class ="register-form" onsubmit="return submitItem(this);" method="POST" style="margin-bottom: 10px;">
							<!-- <div>
								<select style="width: 35%;padding: 3px;" name="supplier_name" id="supplier_name">
									<option value="">Select A Supplier</option>
									<option value="1">Supplier1</option>
									<option value="2">Supplier2</option>
									<option value="3">Supplier3</option>
								</select>
							</div><br> -->
							<!-- Employee ID (Should be logged in, value from backend) -->

							<!-- Create SUPPLIER if this supplier doesn't exist (make supplier_name unique) -->
							<input style="width: 40%" type="text" name="supplier_name" id="supplier_name" placeholder="Enter Supplier Name" required><br><br>
							<input style="width: 40%" type="email" name="supplier_email" id="supplier_email" placeholder="Enter Supplier's Email" required><br><br>
							<input style="width: 40%" type="text" name="supplier_phone" id="supplier_phone" placeholder="Enter Supplier's Phone Number"
							    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br>

							<!-- Create PRODUCT if this product doesn't exist (make item_name unique) -->
							<input style="width: 40%" type="text" name="item_name" id="item_name" placeholder="Item Name" required><br><br>
							<h5 style="margin-top: 15px;">Please add the item's details:</h5>
							<div>
								<select style="width: 35%; padding: 3px;" name="item_type" id="item_type">
									<option value="videogame">Video Game</option>
									<option value="console">Console</option>
									<option value="accessory">Accessory</option>
								</select>
							</div><br>
							<input style="width: 35%" type="text" name="unit_price" id="unit_price" placeholder="($) Unit Price: X.XX"
							    pattern="[1-9]{1}[0-9]{0,3}(\.[0-9]{2})?|0.[1-9]{2}|0.0[1-9]{1}" required><br><br>
								<!-- Make a pattern="" for ^^^ -->
							<input style="width: 35%" type="number" name="quantity" id="quantity" placeholder="Quantity" min="1" required><br><br>
							<div>
								<textarea style="width: 40%;" name="desc" id="desc" placeholder="Description" rows="3"></textarea>
							</div>
							<h5 style="margin-top: 15px;">Please enter URL to the item's image, if any:</h5>
							<input style="width: 40%" type="text" name="image_source" id="image_source" placeholder="URL to Item's Image"><br>
							<!-- <input class="image_input" type="file" id="image" name="image" accept="image/*" capture style="display:none"/> -->
							<!-- <img style="width: 60px;" src="{{url_for('static', filename='img/camera.png')}}" id="upfile" style="cursor:pointer" /><br> -->
							<!-- logged_on (date, value from backend) -->
							<button style="margin-top: 26px;" class="btn btn primary" type="submit" onclick="validate()">Submit</button><br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>

        function submitItem(theForm) {
            event.preventDefault();
            let log_item_info = {
                supplier_name: theForm.supplier_name.value,
                supplier_email: theForm.supplier_email.value,
                supplier_phone: theForm.supplier_phone.value,
                item_name: theForm.item_name.value,
                item_type: theForm.item_type.value,
                unit_price: parseFloat(theForm.unit_price.value).toFixed(2),
                quantity: parseInt(theForm.quantity.value),
                desc: theForm.desc.value,
                image_source: theForm.image_source.value
            };

            console.log(JSON.stringify(log_item_info));

            $.ajax({
                type:"POST",
                url:"{{url_for('additem')}}",
                contentType: "application/json",
                data: JSON.stringify(log_item_info),
                dataType: 'json'
            }).done(function(data) {
                console.log('Data successively sent & returned');
                console.log(JSON.stringify(data));
                //document.getElementById("itemform").reset();
                window.location.reload();
            });
        }

    </script>

{% endblock %}